<div class="meesageinfo_box">
  <div class="meesageinfo_box_item">
    <div class="chat_message_box">
      <div class="chatinfo_top_main">
        <div class="chatinfo_top">
          <div class="back_user">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
          <div class="iconbox">
            <img src="../../../../assets/profile-picture1.jpeg" class="img-fluid" />
            <span class="bl_onlines"></span>
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h4>
                Priya Pandey
              </h4>
              <p>
                Last Seen 2 hours ago
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="chat_message_lists">
        <div class="messag_item messag_receiver">
          <span class="sh_message">
            Hi !!
          </span>

          <p class="shs_time">
            <span>
              8:45 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_sender">
          <span class="sh_message">
            hi
          </span>

          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_receiver">
          <span class="sh_message">
            hi
          </span>

          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_sender">
          <span class="sh_message">
            hi
          </span>

          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_receiver">
          <span class="sh_message">
            hi
          </span>

          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_sender">
          <span class="sh_message">
            hi
          </span>

          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>
      </div>

      <div class="message_typingbox"> 
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Send Message..." />
          <span class="input-group-addon">
            <button class="submit">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 16V0L19 8L0 16ZM2 13L13.85 8L2 3V6.5L8 8L2 9.5V13ZM2 13V8V3V6.5V9.5V13Z" fill="#E6E0E9"/>
                </svg>
                
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>