


<div class="meesageinfo_box">
  <div class="meesageinfo_box_item">
    <div class="chat_message_box">
      <div class="chatinfo_top">
        <div class="iconbox">
          <img src="../../../../assets/profile-picture1.jpeg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h4>
              Monika Singh
            </h4>
            <p>
              Online
            </p>
          </div>
          <div class="right_item">
            <a href="#" class="sh_callss">
              <i class="fas fa-phone-volume"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="chat_message_lists">
        <div class="messag_item messag_receiver">
          <span class="sh_message">
            hi
          </span>
          
          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_sender">
          <span class="sh_message">
            hi
          </span>
          
          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_receiver">
          <span class="sh_message">
            hi
          </span>
          
          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_sender">
          <span class="sh_message">
            hi
          </span>
          
          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_receiver">
          <span class="sh_message">
            hi
          </span>
          
          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>

        <div class="messag_item messag_sender">
          <span class="sh_message">
            hi
          </span>
          
          <p class="shs_time">
            <span>
              10:00 AM
            </span>
            <span>
              23/7/2024
            </span>
        </div>
      </div>

      <div class="message_typingbox">
        <div class="sh_filelinks">
          <i class="fas fa-paperclip"></i>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" />
          <span class="input-group-addon">
            <button class="submit">
              <i class="fas fa-play"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>




