<!-- <ion-content [fullscreen]="true"> -->
<div class="">

  <div class="sh_userchatlist_info">
    <div class="sh_searchbox">
      <ion-searchbar placeholder="Search your partner" class="form-control"></ion-searchbar>
    </div>
    <div class="sh_userchatlist_contant">
      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

      <div class="sh_userchat_item">
        <div class="imgbox">
          <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
        </div>
        <div class="contant_info">
          <div class="left_item">
            <h2>
              Tommy
            </h2>
            <p>
              i will be there
            </p>
          </div>
          <div class="right_item">
            <h6>
              3 Min
            </h6>
            <p class="counter">
              30
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>