.chip {
    text-transform: capitalize;
}

.active {
    --background: rgba(255, 0, 0, 0.98) !important;

    ion-icon {
        color: #fff !important;
    }

    ion-label {
        color: #fff !important;
    }
}