
<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register sh_createAccount_congratulation ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>
    <div class="sh_landing_contantinfo">
      
      <div class="sh_logintitle_block">
        <h2>
          Congratulation..!
        </h2>
        <h6>
          Now Enjoy your life with your Half-hearted 
        </h6>
      </div>
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/congratulationImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="form-group mt-4">
        <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()"
          class="sh_submitRHBtn">Proceed</ion-button>
      </div>
    </div>
  </div>
</div>
