<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="card-content">
    <ng-container *ngFor="let plan of plans">
      <ion-card>
        <img alt="Silhouette of mountains" [src]="plan.packageImage" onerror="this.src='https://ionicframework.com/docs/img/demos/card-media.png';" />
        <ion-card-header>
          <ion-card-title>{{plan.packageName}}</ion-card-title>
          <ion-card-subtitle>${{plan.packagePrice}} - {{plan.packageDiscount}}% Off</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p>{{plan.packageDescription}}</p>
          <p *ngIf="plan.phoneNumberVisibility">Visible phone number</p>
          <p *ngIf="plan.profileBoosts">Profile Boost: {{plan.profileBoosts}}</p>
          <p *ngIf="plan.swipes">Profile Swipes: {{plan.swipes}}</p>
          <p >{{plan.packagePurchaseCount}} people purchased</p>
        </ion-card-content>
        <ion-button expand="block" (click)="activatePlan(plan)" color="danger">Activate</ion-button>
      </ion-card>
    </ng-container>
  </div>
</ion-content>