<div class="bl_login_block bl_register_block bl_register_fixed">
  <div class="bl_container">
    <div class="bl_loginLogo">
      <img src="../../../assets/white_logo.png" class="img-fluid" />
    </div>
    <div class="bl_login_title">
      <h2>
        {{ 'register_titles.Personal_Details' | translate }}
      </h2>
    </div>



    <div class="bl_formitems" [formGroup]="qualificationForm">
      <div class="form-group">
        <label class="lable_text">
          {{'form.Highest_Qualification'|translate}}
        </label>
        <ion-select formControlName="heightestQualification" interface="popover" fill="outline" class="form-control"
          [class.invalid-input]="qualificationForm.get('heightestQualification')?.invalid && qualificationForm.get('heightestQualification')?.touched">
          <ion-select-option value="">
            {{ 'form.Select_option' | translate }}
          </ion-select-option>
          <ion-select-option *ngFor="let status of userHighestQualifications" [value]="status">
            {{ status }}
          </ion-select-option>
        </ion-select>
        <div
          *ngIf="qualificationForm.get('heightestQualification')?.invalid && qualificationForm.get('heightestQualification')?.touched"
          class="invalid-feedback bl_error">
          {{'error_message.highest_qualification_required'|translate}}
        </div>
      </div>
      <div class="form-group">
        <label class="lable_text">
          {{'form.Collage'|translate}}
        </label>
        <ion-input mode="md"
          [class.invalid-input]="qualificationForm.get('college')?.invalid && qualificationForm.get('college')?.touched"
          formControlName="college" type="text" fill="outline" class="form-control"></ion-input>
        <div *ngIf="qualificationForm.get('college')?.invalid && qualificationForm.get('college')?.touched"
          class="invalid-feedback bl_error">
          {{'error_message.college_required'|translate}}
        </div>
      </div>
      <div class="form-group mt-3 bl_fixed_btn">
        <ion-button color="light" [disabled]="qualificationForm.invalid" expand="block" (click)="submitForm()"
          class="bl_submitRH">{{'form.Continue'|translate}}</ion-button>
      </div>
    </div>
  </div>
</div> 