<!-- <ion-content [fullscreen]="true">
  <div class="ds_homeitem wedd_Bg">
    <div class="ds_container">
      <div class="ds_landing_contant"> -->
<!-- <div class="ds-logoitem">
          <img src="../../../assets/bg/logo.png" class="img-fluid" />
        </div> -->
<!-- 
        <div class="ds_landing_contantinfo">
          <h1> wesite.com?</h1>
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
          </p>
          <div class="form-group">
            <ion-button color="light" expand="block" routerLink="/register" class="ds_submitBtn">
              Get Started
            </ion-button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content> -->








<ion-content [fullscreen]="true">
  <div class="ds_container">
    <div class="sh_splashhoem_block">
      <div class="sh_logoitem">
        <img src="../../../assets/logo2.png" class="img-fluid" />
      </div>

      <div class="sh_landing_contantinfo">

        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>

        <h1> {{'landing.welcome_back'| translate}}</h1>
        <p>
          {{'landing.for_suggesting_life_partner' | translate}}
        </p>
        <div class="form-group">
          <ion-button color="light" expand="block" routerLink="/register" class="sh_submitRHBtn">
            {{'landing.sign_in' | translate}}
          </ion-button>
        </div>
        <div class="form-group">
          {{'landing.dont_have_account' | translate}} <a href="/register" class="sh_links">{{'landing.register'| translate}}</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>