<!-- <div class="ds_registerMobile_block">
  <div class="ds_container"> 
    <div class="page_title">
      <div class="iconbox">
        <ion-icon color="warning" name="pin-sharp"></ion-icon>
      </div>
      <h3>
        Now let's build your profile
      </h3> 
    </div>


    <div class="ds_formitems">
      <div class="form-group">
        <label class="lable_text">
          Country
        </label>
        <ion-select [(ngModel)]="maritalStatus" interface="popover" fill="outline" class="form-control">
          <ion-select-option value="">Select option
          </ion-select-option>
        </ion-select>
      </div>
      
      <div class="form-group">
        <label class="lable_text">
          State
        </label>
        <ion-select [(ngModel)]="maritalStatus" interface="popover" fill="outline" class="form-control">
          <ion-select-option value="">Select option
          </ion-select-option>
        </ion-select>
      </div>
      <div class="form-group">
        <label class="lable_text">
          City
        </label>
        <ion-select [(ngModel)]="height" interface="popover" fill="outline" class="form-control">
          <ion-select-option value="">Select option
          </ion-select-option>
        </ion-select>
      </div>
      <div class="form-group">
        <label class="lable_text">
          Community
        </label>
        <ion-select [(ngModel)]="diet" interface="popover" fill="outline" class="form-control">
          <ion-select-option value="">Select option
          </ion-select-option>
        </ion-select>
      </div>
      
      <div class="form-group">
        <label class="lable_text">
          Sub-community
        </label>
        <ion-select [(ngModel)]="diet" interface="popover" fill="outline" class="form-control">
          <ion-select-option value="">Select option
          </ion-select-option>
        </ion-select>
      </div>
      <div class="form-group mt-4">
        <ion-button color="secondary" disabled="false" expand="block" (click)="submitForm()"
          class="sh_submitRHBtn">Continue</ion-button>
      </div>
    </div>
  </div>
</div> -->





<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div> 
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div> 
      </div>

      <div class="sh_logintitle_block">
        <h2>
          Now let's build your profile
        </h2> 
      </div>


      <div class="ds_formitems">
        <div class="form-group">
          <label class="lable_text">
            Country
          </label>
          <ion-select [(ngModel)]="maritalStatus" interface="popover" fill="outline" class="form-control">
            <ion-select-option value="">Select option
            </ion-select-option>
          </ion-select>
        </div>
        
        <div class="form-group">
          <label class="lable_text">
            State
          </label>
          <ion-select [(ngModel)]="maritalStatus" interface="popover" fill="outline" class="form-control">
            <ion-select-option value="">Select option
            </ion-select-option>
          </ion-select>
        </div>
        <div class="form-group">
          <label class="lable_text">
            City
          </label>
          <ion-select [(ngModel)]="height" interface="popover" fill="outline" class="form-control">
            <ion-select-option value="">Select option
            </ion-select-option>
          </ion-select>
        </div>
        <div class="form-group">
          <label class="lable_text">
            Origin 
          </label>
          <ion-select [(ngModel)]="diet" interface="popover" fill="outline" class="form-control">
            <ion-select-option value="">Select option
            </ion-select-option>
          </ion-select>
        </div>
        
        <div class="form-group">
          <label class="lable_text">
            Current Location
          </label>
          <ion-select [(ngModel)]="diet" interface="popover" fill="outline" class="form-control">
            <ion-select-option value="">Select option
            </ion-select-option>
          </ion-select>
        </div>
        <div class="form-group mt-4">
          <ion-button color="secondary" disabled="false" expand="block" (click)="submitForm()"
            class="sh_submitRHBtn">Continue</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>











