<div class="ds_registerMobile_block ds_registerverfication_block ds_profileverify_block">
  <div class="ds_container">   
    <div class="page_title">
      <div class="iconbox">
        <ion-icon color="warning" name="ribbon-outline"></ion-icon>
      </div>
      <h1>
        {{'verify_profile.Verify_Profile'|translate}}
      </h1> 
      <h6>
        {{'verify_profile.Verified_Profiles_are_trusted_more'|translate}}
      </h6>
    </div>

    <div class="ds_vrifyitem_info">
      <div class="card">
        <ul class="itemslist">
          <li class="item">
            {{'verify_profile.Verified_Profiles_are_shown_higher_in_the_listing'|translate}}
          </li>
          <li class="item">
            {{'verify_profile.Standout_with_a_Blue_Tick_on_your_Profile'|translate}}
          </li>

          <li class="item">
            {{'verify_profile.Filter_and_find_exclusive_Verified_Profiles_for_You'|translate}}
          </li>
        </ul>
        <div class="card-footer">
          {{'verify_profile.Govt_ID_required_for_verification'|translate}}
        </div>
      </div>
      <h4>
        {{'verify_profile.Verify_and_get_all_benefits_for_a_year'|translate}}
      </h4>
      <h3 class="sub_amount">
        <span class="amount">
          <u>
            ₹ 399
          </u>
        </span>
        <span class="amount_discounts">
          {{'verify_profile.Free'|translate}}
        </span>
      </h3>


      <div class="form-group mt-4">
        <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()" class="sh_submitRHBtn">
          {{'verify_profile.Get_Verified'|translate}}
        </ion-button>
      </div>
      <div class="form-group mt-4">
        <ion-button color="dark" fill="outline" disabled="false" expand="block" (click)="skipStep()" class="sh_submitRHBtn">
          {{'verify_profile.verify_letter'|translate}}
        </ion-button>
      </div>
    </div>
  </div>
</div> 

