<div class="sh_marrgigeinfo_block">

  <swiper-container loop="true" autoplay="{
        delay: 2500,
        disableOnInteraction: false
      }" pagination="{
        el: '.swiper-pagination',
        clickable: true
      }">
    <swiper-slide>
      <div class="imgbox">
        <img src="./assets/profile-picture1.jpeg" class="img-fluid" />
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="imgbox">
        <img src="../../../../assets/profile-picture2.jpg" />
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="imgbox">
        <img src="../../../../assets/profile-picture3.jpg" />
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="contant_info">
    <h2>
      Monika Singh
    </h2>
    <p>
      21 year old
    </p>

    <ul class="listinfo">
      <li>
        <p>
          Software Professional
        </p>
      </li>
      <li>
        <p>
          29 Yrs,
          <span>
            5ft 11 in
          </span>
        </p>
      </li>
      <li>
        <p>
          <span> Kharti, </span>
          <span>Hindu</span>

          <span> Delhi, India </span>
        </p>
      </li>
      <li>
        <p>
          Software Professional
        </p>
      </li>
      <li>
        <p>
          29 Yrs,
          <span>
            5ft 11 in
          </span>
        </p>
      </li>
      <li>
        <p>
          <span> Kharti, </span>
          <span>Hindu</span>

          <span> Delhi, India </span>
        </p>
      </li>
    </ul>

    <div class="form-group">
      <ion-button color="dark" disabled="false" expand="block" class="sh_submitRHBtn">
        Message
      </ion-button>
    </div>
  </div>