<div class="sh_marrgigeinfo_block" *ngIf="userProfile">

  <swiper-container loop="true" autoplay="{
        delay: 2500,
        disableOnInteraction: false
      }" pagination="{
        el: '.swiper-pagination',
        clickable: true
      }">
    <swiper-slide *ngFor="let picture of userProfile.UserPersonalDetails?.photos">
      <div class="imgbox">
        <img [src]="baseImageUrl+picture" onerror="this.src='./../../../../assets/bg/profilimg_1.jpg'" class="img-fluid" />
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="contant_info">
    <h2>
      {{userProfile?.firstName}} {{userProfile?.lastName}}
    </h2>
    <p>
      {{userProfile.dateOfBirth | age}}
    </p>

    <ul class="listinfo">
      <li>
        <p>
          {{userProfile.UserPersonalDetails?.workDetails?.workAs}}
        </p>
      </li>
      <li>
        <p>
          {{userProfile.dateOfBirth | age}},
          <span>
            {{userProfile.UserPersonalDetails?.personalDetails?.height}} - {{userProfile.UserPersonalDetails?.personalDetails?.weight}}
          </span>
        </p>
      </li>
      <li>
        <p>
          <span>{{userProfile.UserPersonalDetails?.community}}, </span>
                <span>{{userProfile.UserPersonalDetails?.religion}} <br /></span>

          <span> <span>{{userProfile.UserPersonalDetails?.userAddress.city}}, {{userProfile.UserPersonalDetails?.userAddress.state}}, {{userProfile.UserPersonalDetails?.userAddress.country}}</span> </span>
        </p>
      </li>
    </ul>

    <div class="form-group">
      <ion-button color="dark" disabled="false" expand="block" class="sh_submitRHBtn">
        Message
      </ion-button>
    </div>
  </div>