<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>{{ 'register_titles.Find_exactly_the' | translate }}</span>
          {{ 'register_titles.Right_Partner_for_you' | translate }}
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="sh_logintitle_block">
        <h2>
          {{ 'register_titles.build_your_profile' | translate }}
        </h2>
      </div>

      <div class="ds_formitems" [formGroup]="locationForm">
        <div class="form-group">
          <label class="lable_text">{{ 'form.Country' | translate }}</label>
          <ion-select
            interface="popover"
            fill="outline"
            class="form-control"
            formControlName="country"
            (ionChange)="onCountryChange($event)"
          >
            <ion-select-option value="">{{ 'form.Select_option' | translate }}</ion-select-option>
            <ion-select-option *ngFor="let country of countries" [value]="country">{{ country }}</ion-select-option>
          </ion-select>
        </div>

        <div class="form-group">
          <label class="lable_text">{{ 'form.State' | translate }}</label>
          <ion-select
            interface="popover"
            fill="outline"
            class="form-control"
            formControlName="state"
            (ionChange)="onStateChange($event)"
            [disabled]="!locationForm.get('country')?.value"
          >
            <ion-select-option value="">{{ 'form.Select_option' | translate }}</ion-select-option>
            <ion-select-option *ngFor="let state of states" [value]="state">{{ state }}</ion-select-option>
          </ion-select>
        </div>

        <div class="form-group">
          <label class="lable_text">{{ 'form.City' | translate }}</label>
          <ion-select
            interface="popover"
            fill="outline"
            class="form-control"
            formControlName="city"
            [disabled]="!locationForm.get('state')?.value"
          >
            <ion-select-option value="">{{ 'form.Select_option' | translate }}</ion-select-option>
            <ion-select-option *ngFor="let city of cities" [value]="city">{{ city }}</ion-select-option>
          </ion-select>
        </div>

        <div class="form-group">
          <label class="lable_text">{{ 'form.Origin' | translate }}</label>
          <ion-input
            mode="md"
            type="text"
            fill="outline"
            formControlName="placeOfOrigin"
            [class.invalid-input]="locationForm.get('placeOfOrigin')?.invalid && locationForm.get('placeOfOrigin')?.touched"
            class="form-control"
          ></ion-input>
        </div>

        <div class="form-group">
          <label class="lable_text">{{ 'form.Current_Location' | translate }}</label>
          <ion-input
            mode="md"
            type="text"
            fill="outline"
            formControlName="currentLocation"
            [class.invalid-input]="locationForm.get('currentLocation')?.invalid && locationForm.get('currentLocation')?.touched"
            class="form-control"
          ></ion-input>
        </div>

        <div class="form-group mt-4">
          <ion-button
            color="secondary"
            [disabled]="locationForm.invalid"
            expand="block"
            (click)="submitForm()"
            class="sh_submitRHBtn"
          >
            {{ 'form.Continue' | translate }}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
