<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_landing_contantinfo">
      <div class="sh_logintitle_block">
        <h2>
          Now let's add your hobbies & interests
        </h2>
        <h6>
          This will help find better Matches
        </h6>
      </div>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Creative
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="sh_custome_checkbox">
            <ion-chip color="medium">
              <ion-icon name="create-outline"></ion-icon>
              <ion-label>Writing</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <ion-icon name="create-outline"></ion-icon>
              <ion-label>Cooking</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <ion-icon name="headset-outline"></ion-icon>
              <ion-label>Singing</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="image-outline"></ion-icon>
              <ion-label>Photography</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="brush-outline"></ion-icon>
              <ion-label>Painting</ion-label>
            </ion-chip>
          </div>
          <div class="read_more">
            <label>
              View more
              <ion-icon name="chevron-down-outline"></ion-icon>
            </label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Fun
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="sh_custome_checkbox">
            <ion-chip color="medium">
              <ion-icon name="brush-outline"></ion-icon>
              <ion-label>Music</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="videocam-outline"></ion-icon>
              <ion-label>Movie</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <ion-icon name="train-outline"></ion-icon>
              <ion-label>Travelling</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="game-controller-outline"></ion-icon>
              <ion-label>Game</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="football-outline"></ion-icon>
              <ion-label>Sports</ion-label>
            </ion-chip>
          </div>
          <div class="read_more">
            <label>
              View more
              <ion-icon name="chevron-down-outline"></ion-icon>
            </label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Fitness
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="sh_custome_checkbox">
            <ion-chip color="medium">
              <i class="fas fa-running"></i>
              <ion-label>Running</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <i class="far fa-biking"></i>
              <ion-label>Cycling</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <i class="fas fa-ski-jump"></i>
              <ion-label>Sky jumping</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <i class="fad fa-walking"></i>
              <ion-label>walking</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <i class="fas fa-swimmer"></i>
              <ion-label>swimmer</ion-label>
            </ion-chip>
          </div>
          <div class="read_more">
            <label>
              View more
              <ion-icon name="chevron-down-outline"></ion-icon>
            </label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Other interests
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="custome_checkbox">
            <ion-chip color="medium">
              <i class="fad fa-cauldron"></i>
              <ion-label>Cooking</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <i class="fad fa-dog"></i>
              <ion-label>Dog</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <i class="fas fa-tshirt"></i>
              <ion-label>Shopping</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <i class="fas fa-newspaper"></i>
              <ion-label>News</ion-label>
            </ion-chip>

          </div>
          <div class="read_more">
            <label>
              View more
              <ion-icon name="chevron-down-outline"></ion-icon>
            </label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Education & Career
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="educationinfo_block">
            <div class="education_item">
              <div class="iconbox">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Qualification</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="education_item">
              <div class="iconbox">
                <i class="far fa-building"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Working with</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="education_item">
              <div class="iconbox">
                <i class="fas fa-suitcase"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Profession</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="education_item">
              <div class="iconbox bg-warning">
                <i class="fas fa-wallet"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Annual Income</label>
                  <h4>
                    INR below 1 lakh to 20 lakhs
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Other Details
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="educationinfo_block">
            <div class="education_item">
              <div class="iconbox">
                <i class="fas fa-user-tie"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Profile Created By</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="education_item">
              <div class="iconbox">
                <i class="fas fa-utensils"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Diet</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

          </div>
        </ion-card-content>
      </ion-card>
      <div class="form-group mt-4">
        <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()" class="sh_submitRHBtn">Confirm &
          Continue</ion-button>
      </div>
    </div>
  </div>
</div> 
