<div class="bl_login_block bl_register_block bl_register_fixed ds_profileverify_block ds_success_block">
  <div class="bl_container">
    <div class="bl_loginLogo">
      <img src="../../../assets/white_logo.png" class="img-fluid" />
    </div>




    <div class="sh_register_block">
      <div class="sh_logoitem1">
        <img src="../../../assets/landingimg.jpg" class="img-fluid" />
      </div>
    </div>
    
    <div class="bl_login_title bl_login_title1 mt-2">
      <h2>
        {{'general.congratulation'|translate}}
      </h2>
      <br>
      <h6 class="text-center">
        {{'general.Now_Enjoy_your_life_with_your_Half_hearted'|translate}}
      </h6>
    </div>

    <div class="form-group mt-4">
      <ion-button color="dark" disabled="false" expand="block" (click)="submitForm('proceed')"
        class="bl_submitRH">{{'general.Proceed'|translate}}</ion-button>
    </div>
    
     <div class="form-group mt-2">
      <ion-button color="dark" disabled="false" expand="block" (click)="submitForm('skip')"
        class="sh_submitRHBtn1">{{'general.Skip'|translate}}</ion-button>
    </div>
  </div>
</div>