<!-- Mobile input desin---------------------------- -->





<div class="bl_login_block bl_register_block bl_register_fixed">
  <div class="bl_container">
    <div class="bl_loginLogo">
      <img src="../../../assets/white_logo.png" class="img-fluid" />
    </div>


    <div class="bl_login_title">
      <h2>
        {{'form.register_caps'|translate}}
      </h2>
    </div>




    <form [formGroup]="form" (ngSubmit)="submitForm()">

      <div class="bl_formitems">
        <div class="form-group">
          <label class="lable_text">{{'form.email_lable'|translate}}</label>
          <ion-input mode="md" [ngClass]="{'invalid-input': email?.invalid && (email?.dirty || email?.touched)}"
            formControlName="email" type="email" fill="outline" [placeholder]="'form.email_placeholder'|translate"
            class="form-control"></ion-input>
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message bl_error">
            <small class="invalid-feedback bl_error"
              *ngIf="email?.errors?.['required']">{{'error_message.email_required' |
              translate}}</small>
            <small class="invalid-feedback bl_error" *ngIf="email?.errors?.['email']">{{'error_message.email_invalid' |
              translate}}</small>
          </div>
        </div>

        <!-- Phone Number Field -->
        <div class="form-group">
          <label class="lable_text">{{'form.mobile_no'|translate}}</label>
          <ion-grid class="form-controlgroup">
            <ion-row>
              <ion-col size="4" class="pl-0">
                <ion-select formControlName="selectedCountryCode" interface="popover" fill="outline"
                  class="form-control">
                  <ion-select-option *ngFor="let country of countries" [value]="country.dialCode">
                    {{ country.name }} ({{ country.dialCode }})
                  </ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="8" class="pr-0">
                <ion-input (ionInput)="checkValid()"
                  [ngClass]="{'invalid-input': phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)}"
                  mode="md" maxlength="10" type="tel" formControlName="phoneNumber" fill="outline"
                  [placeholder]="'form.mobile_no_placeholder'|translate" class="form-control"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="error-message bl_error">
            <small class="invalid-feedback bl_error"
              *ngIf="phoneNumber?.errors?.['required']">{{'error_message.phone_required' |
              translate}}</small>
            <small class="invalid-feedback bl_error"
              *ngIf="phoneNumber?.errors?.['pattern']">{{'error_message.phone_invalid' |
              translate}}</small>
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group">
          <label class="lable_text">{{'form.Password'|translate}}</label>
          <ion-input mode="md"
            [ngClass]="{'invalid-input': password?.invalid && (password?.dirty || password?.touched)}"
            formControlName="password" type="password" fill="outline"
            [placeholder]="'form.password_placeholder'|translate" class="form-control">
            <ion-input-password-toggle slot="end" class="bl_password"></ion-input-password-toggle>
          </ion-input>
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message bl_error">
            <small class="invalid-feedback bl_error"
              *ngIf="password?.errors?.['required']">{{'error_message.password_required' |
              translate}}</small>
            <small class="invalid-feedback bl_error"
              *ngIf="password?.errors?.['minlength']">{{'error_message.password_min_length' | translate}}</small>
          </div>
        </div>


        <div class="form-group bl_terminfo">
          <p>
            {{'register_titles.By creating account, you agree to our'|translate}} <br /> <a
              class="sh_links">{{'register_titles.Privacy Policy'|translate}}</a> {{'register_titles.and'|translate}} <a
              class="sh_links">{{'register_titles.T&C'|translate}}</a></p>
        </div>

        <div class="form-group mt-3 bl_fixed_btn">
          <ion-button color="light" [disabled]="!form.valid" expand="block" type="submit" class="bl_submitRH">
            {{'form.Continue'|translate}}
          </ion-button>
        </div>

      </div>
    </form>
  </div>
</div>



<!-- Mobile input desin---------------------------- -->






<!--   Photo_gallery_Design---------------------------- -->


<!-- 
  <div class="ds_container">
    <div class="sh_createAccount_login sh_createAccount_register mt-4">
      <div class="sh_logoitem">
        <img src="../../../assets/logo2.png" class="img-fluid" />
      </div>

      <div class="sh_landing_contantinfo">  
        <div class="sh_logintitle_block">
          <h2>
            Add your photos to complete your profile
          </h2> 
          <h4>
            your photos are 100% safe and secure
          </h4>
        </div>  

        <div class="ds_formitems">        
          <div class="ds_formitems">
            <div class="form-group">
              <div class="sh_gallery_select">
                <input type="file" class="gallery_file">
                <label>
                  <ion-icon name="image-outline"></ion-icon>
                  Add from Gallery
                </label>
              </div> 

              <div class="form-group mt-2">
                <ion-button color="light"  expand="block" class="sh_submitRHBtn1">
                  <ion-icon name="camera-outline"></ion-icon>
                  Continue
                </ion-button> 
              </div> 
            </div>   

            <div class="form-group mt-4">
              <div class="sh_terminfo">
                <p>
                  Add Photos Later  
                </p>
              </div>  
            </div>     

          </div>
        </div>
      </div>
    </div>
  </div> 
-->

<!--   Photo_gallery_Design---------------------------- -->









<!-- ------------------  ds_registerverfication_block --------------------------  -->

<!-- <div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div> 
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div> 
      </div>

      <div class="sh_logintitle_block">
        <h2>
          Please enter verification PIN
        </h2> 
        <h6>
          you will received a SMS with verification PIN to
          <span class="mobilenumber">
            +1245789
          </span>
          <span>|</span>
          <a href="#" class="Edit">Edit</a>
        </h6>
      </div>  

      <div class="ds_formitems">
        <div class="form-group">
          <label class="lable_text">PIN Number</label>
          <ion-input mode="md" [(ngModel)]="email" type="email" fill="outline" placeholder="Enter email"
            class="form-control"></ion-input>
        </div>
  
        <div class="form-group mt-4">
          <ion-row>
            <ion-col size="6" class="pr-0"> 
              <ion-button color="secondary" disabled="false" expand="block" (click)="submitForm()"
                class="sh_submitRHBtn1">
                Resend PIN
              </ion-button>
            </ion-col>
            <ion-col size="6" class="pr-0"> 
              <ion-button color="secondary" disabled="false" expand="block" (click)="submitForm()"
                class="sh_submitRHBtn">
                Verify
              </ion-button>
            </ion-col>
          </ion-row>
        </div>  

        <div class="sh_terminfo">
          <p class="text-left">
            <b>
              Note:
            </b>
            You can use privacy options to hide your nnumber
            <a href="#">
              l'll do this later
            </a>
          </p>
        </div>   
      </div>  

    </div>
  </div>
</div>  -->

<!-- ------------------  ds_registerverfication_block --------------------------  -->



<!-- ------------------  ds_profileverify_block --------------------------  -->
<!-- ------------------  ds_profileverify_block --------------------------  -->

<!-- <div class="ds_registerMobile_block ds_registerverfication_block ds_profileverify_block">
  <div class="ds_container">   
    <div class="page_title">
      <div class="iconbox">
        <ion-icon color="warning" name="ribbon-outline"></ion-icon>
      </div>
      <h1>
        Verify Profile
      </h1> 
      <h6>
        Verified Profiles are trusted more
      </h6>
    </div>

    <div class="ds_vrifyitem_info">
      <div class="card">
        <ul class="itemslist">
          <li class="item">
            Verified Profiles are shown higher in the listing
          </li>
          <li class="item">
            Standout with a Blue Tick on your Profile
          </li>

          <li class="item">
            Filter and find exclusive Verified Profiles for You
          </li>
        </ul>
        <div class="card-footer">
          Govt. ID required for verification
        </div>
      </div>
      <h4>
        Verify and get all benefits for a year
      </h4>
      <h3 class="sub_amount">
        <span class="amount">
          <u>
            ₹ 399
          </u>
        </span>
        <span class="amount_discounts">
          Free
        </span>
      </h3>


      <div class="form-group mt-4">
        <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()" class="sh_submitRHBtn">
          Get Verified
        </ion-button>
      </div>
    </div>
  </div>
</div>    -->


<!-- ------------------  ds_profileverify_block --------------------------  -->
<!-- ------------------  ds_profileverify_block --------------------------  -->



<!-- ------------------  Hobbies page  --------------------------  -->
<!-- ------------------  Hobbies page  --------------------------  -->

<!-- <div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_landing_contantinfo">
      <div class="sh_logintitle_block">
        <h2>
          Now let's add your hobbies & interests
        </h2>
        <h6>
          This will help find better Matches
        </h6>
      </div>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Creative
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="sh_custome_checkbox">
            <ion-chip color="medium">
              <ion-icon name="create-outline"></ion-icon>
              <ion-label>Writing</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <ion-icon name="create-outline"></ion-icon>
              <ion-label>Cooking</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <ion-icon name="headset-outline"></ion-icon>
              <ion-label>Singing</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="image-outline"></ion-icon>
              <ion-label>Photography</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="brush-outline"></ion-icon>
              <ion-label>Painting</ion-label>
            </ion-chip>
          </div>
          <div class="read_more">
            <label>
              View more
              <ion-icon name="chevron-down-outline"></ion-icon>
            </label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Fun
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="sh_custome_checkbox">
            <ion-chip color="medium">
              <ion-icon name="brush-outline"></ion-icon>
              <ion-label>Music</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="videocam-outline"></ion-icon>
              <ion-label>Movie</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <ion-icon name="train-outline"></ion-icon>
              <ion-label>Travelling</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="game-controller-outline"></ion-icon>
              <ion-label>Game</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <ion-icon name="football-outline"></ion-icon>
              <ion-label>Sports</ion-label>
            </ion-chip>
          </div>
          <div class="read_more">
            <label>
              View more
              <ion-icon name="chevron-down-outline"></ion-icon>
            </label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Fitness
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="sh_custome_checkbox">
            <ion-chip color="medium">
              <i class="fas fa-running"></i>
              <ion-label>Running</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <i class="far fa-biking"></i>
              <ion-label>Cycling</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <i class="fas fa-ski-jump"></i>
              <ion-label>Sky jumping</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <i class="fad fa-walking"></i>
              <ion-label>walking</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <i class="fas fa-swimmer"></i>
              <ion-label>swimmer</ion-label>
            </ion-chip>
          </div>
          <div class="read_more">
            <label>
              View more
              <ion-icon name="chevron-down-outline"></ion-icon>
            </label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Other interests
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="custome_checkbox">
            <ion-chip color="medium">
              <i class="fad fa-cauldron"></i>
              <ion-label>Cooking</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <i class="fad fa-dog"></i>
              <ion-label>Dog</ion-label>
            </ion-chip>
            <ion-chip color="medium">
              <i class="fas fa-tshirt"></i>
              <ion-label>Shopping</ion-label>
            </ion-chip>

            <ion-chip color="medium">
              <i class="fas fa-newspaper"></i>
              <ion-label>News</ion-label>
            </ion-chip>

          </div>
          <div class="read_more">
            <label>
              View more
              <ion-icon name="chevron-down-outline"></ion-icon>
            </label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Education & Career
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="educationinfo_block">
            <div class="education_item">
              <div class="iconbox">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Qualification</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="education_item">
              <div class="iconbox">
                <i class="far fa-building"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Working with</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="education_item">
              <div class="iconbox">
                <i class="fas fa-suitcase"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Profession</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="education_item">
              <div class="iconbox bg-warning">
                <i class="fas fa-wallet"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Annual Income</label>
                  <h4>
                    INR below 1 lakh to 20 lakhs
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="custome_card">
        <ion-card-header>
          <ion-card-subtitle>
            Other Details
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="educationinfo_block">
            <div class="education_item">
              <div class="iconbox">
                <i class="fas fa-user-tie"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Profile Created By</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

            <div class="education_item">
              <div class="iconbox">
                <i class="fas fa-utensils"></i>
              </div>
              <div class="info_items">
                <div class="lable_items">
                  <label>Diet</label>
                  <h4>
                    Open to all
                  </h4>
                </div>
                <a href="#" class="ed-links">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>

          </div>
        </ion-card-content>
      </ion-card>
      <div class="form-group mt-4">
        <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()" class="sh_submitRHBtn">Confirm &
          Continue</ion-button>
      </div>
    </div>
  </div>
</div> -->

<!-- ------------------  Hobbies page  --------------------------  -->
<!-- ------------------  Hobbies page  --------------------------  -->




<!-- ------------------  Add family member page  --------------------------  -->
<!-- 
<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="sh_logintitle_block">
        <h2>
          Add family details
        </h2>
        <h6>
          This really helps find common connections
        </h6>
      </div>

      <div class="ds_formitems">
        <div class="form-group">
          <label class="lable_text">
            Mother Details
          </label>
          <ion-select interface="popover" fill="outline" class="form-control">
            <ion-select-option>
              Select Mother's details
            </ion-select-option>
          </ion-select>
        </div>


        <div class="form-group">
          <label class="lable_text">
            Father's Details
          </label>
          <ion-select interface="popover" fill="outline" class="form-control">
            <ion-select-option>
              Select Father's details
            </ion-select-option>
          </ion-select>
        </div>


        <div class="form-group">
          <label class="lable_text">
            No's Sisters
          </label>
          <ion-select interface="popover" fill="outline" class="form-control">
            <ion-select-option>
              Select Sisters's details
            </ion-select-option>
          </ion-select>
        </div>


        <div class="form-group">
          <label class="lable_text">
            No. of Brothers
          </label>
          <ion-select interface="popover" fill="outline" class="form-control">
            <ion-select-option>
              Select Brothers's details
            </ion-select-option>
          </ion-select>
        </div>

        <div class="form-group mt-4">
          <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()"
            class="sh_submitRHBtn">Continue</ion-button>
        </div>
      </div>

    </div>
  </div>
</div> -->
<!-- ------------------  Add family member page  --------------------------  -->


<!-- ------------------  Add family member page  --------------------------  -->


<!-- <div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="sh_logintitle_block">
        <h2>
          Add family details
        </h2>
        <h6>
          This really helps find common connections
        </h6>
      </div>

      <div class="ds_familydetilse_block"> 
        <div class="ds_formitems">
          <div class="form-group">
            <label class="lable_text">
              Your Family's Financial Status
            </label>
            <div class="status_groups">
              <label class="sh_radio">Elite
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>

              <label class="sh_radio">High
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>

              <label class="sh_radio">Middle
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>

              <label class="sh_radio">Aspiring
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>

            </div>
          </div> 

          <div class="form-group mt-4">
            <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()"
              class="sh_submitRHBtn">Continue</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- ------------------  Add family member page  --------------------------  -->


<!-- ------------------  Congratulation success  --------------------------  -->


<!-- 

<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register sh_createAccount_congratulation ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>
    <div class="sh_landing_contantinfo">
      
      <div class="sh_logintitle_block">
        <h2>
          Congratulation..!
        </h2>
        <h6>
          Now Enjoy your life with your Half-hearted 
        </h6>
      </div>
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/congratulationImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="form-group mt-4">
        <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()"
          class="sh_submitRHBtn">Proceed</ion-button>
      </div>
    </div>
  </div>
</div> -->


<!-- ------------------ Congratulation success -------------------------- -->