<!-- ------------------  User list  --------------------------  -->
<!-- ------------------  User list  --------------------------  -->


<div class="sh_marrigeprofile_listinfo">
  <!-- <div class="sh_searchbox"> 
    <input type="text" placeholder="Search your partner" class="form-control ds-textbox"/>
    <span class="input-group-addon">
      <i class="fas fa-search"></i>
    </span>
  </div> -->
  <div class="sh_searchbox">
    <ion-searchbar placeholder="Search your partner" class="form-control"></ion-searchbar>
  </div>



  <ion-card class="custome_card sh_profiles_item">
    <ion-card-content>
      <ion-row (click)="openProfile('this')">
        <ion-col size="3">
          <div class="ds_imgbox">
            <img src="./../../../../assets/bg/profilimg_1.jpg" class="img-fluid" />
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="ds_prconant">
            <h2>
              Monika Singh
            </h2>
            <p>
              Software Professional
            </p>
            <p>
              29 Yrs,
              <span>
                5ft 11 in
              </span>
            </p>
            <h6>
              <span> Kharti, </span>
              <span>Hindu</span>

              <span> Delhi, India </span>
            </h6>
          </div>
        </ion-col>
      </ion-row>
      <div class="form-group">
        <ion-row>
          <ion-col size="6">
            <ul class="listitem">
              <li>
                <a href="#" class="links">
                  <i class="far fa-heart"></i>
                  <!-- <i class="fas fa-heart"></i> -->
                </a>
              </li>
              <li>
                <a href="#" class="links">
                  <i class="far fa-comment-dots"></i>
                </a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="6">
            <ion-button color="dark" disabled="false" expand="block" class="sh_submitRHBtn">
              Send interest
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="custome_card sh_profiles_item">
    <ion-card-content>
      <ion-row (click)="openProfile('this')">
        <ion-col size="3">
          <div class="ds_imgbox">
            <img src="./../../../../assets/bg/profilimg_2.jpg" class="img-fluid" />
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="ds_prconant">
            <h2>
              Monika Singh
            </h2>
            <p>
              Software Professional
            </p>
            <p>
              29 Yrs,
              <span>
                5ft 11 in
              </span>
            </p>
            <h6>
              <span> Kharti, </span>
              <span>Hindu</span>

              <span> Delhi, India </span>
            </h6>
          </div>
        </ion-col>
      </ion-row>
      <div class="form-group">
        <ion-row>
          <ion-col size="6">
            <ul class="listitem">
              <li>
                <a href="#" class="links">
                  <i class="far fa-heart"></i>
                  <!--   <i class="fas fa-heart"></i> -->
                </a>
              </li>
              <li>
                <a href="#" class="links">
                  <i class="far fa-comment-dots"></i>
                </a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="6">
            <ion-button color="dark" disabled="false" expand="block" class="sh_submitRHBtn">
              Send interest
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="custome_card sh_profiles_item">
    <ion-card-content>
      <ion-row (click)="openProfile('this')">
        <ion-col size="3">
          <div class="ds_imgbox">
            <img src="./../../../../assets/bg/profilimg_2.jpg" class="img-fluid" />
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="ds_prconant">
            <h2>
              Monika Singh
            </h2>
            <p>
              Software Professional
            </p>
            <p>
              29 Yrs,
              <span>
                5ft 11 in
              </span>
            </p>
            <h6>
              <span> Kharti, </span>
              <span>Hindu</span>

              <span> Delhi, India </span>
            </h6>
          </div>
        </ion-col>
      </ion-row>
      <div class="form-group">
        <ion-row>
          <ion-col size="6">
            <ul class="listitem">
              <li>
                <a href="#" class="links">
                  <i class="far fa-heart"></i>
                  <!-- <i class="fas fa-heart"></i> -->
                </a>
              </li>
              <li>
                <a href="#" class="links">
                  <i class="far fa-comment-dots"></i>
                </a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="6">
            <ion-button color="dark" disabled="false" expand="block" class="sh_submitRHBtn">
              Send interest
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="custome_card sh_profiles_item">
    <ion-card-content>
      <ion-row (click)="openProfile('this')">
        <ion-col size="3">
          <div class="ds_imgbox">
            <img src="./../../../../assets/bg/profilimg_4.jpg" class="img-fluid" />
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="ds_prconant">
            <h2>
              Monika Singh
            </h2>
            <p>
              Software Professional
            </p>
            <p>
              29 Yrs,
              <span>
                5ft 11 in
              </span>
            </p>
            <h6>
              <span> Kharti, </span>
              <span>Hindu</span>

              <span> Delhi, India </span>
            </h6>
          </div>
        </ion-col>
      </ion-row>
      <div class="form-group">
        <ion-row>
          <ion-col size="6">
            <ul class="listitem">
              <li>
                <a href="#" class="links">
                  <i class="far fa-heart"></i>
                  <!-- <i class="fas fa-heart"></i> -->
                </a>
              </li>
              <li>
                <a href="#" class="links">
                  <i class="far fa-comment-dots"></i>
                </a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="6">
            <ion-button color="dark" disabled="false" expand="block" class="sh_submitRHBtn">
              Send interest
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="custome_card sh_profiles_item">
    <ion-card-content>
      <ion-row (click)="openProfile('this')">
        <ion-col size="3">
          <div class="ds_imgbox">
            <img src="./../../../../assets/bg/profilimg_5.jpg" class="img-fluid" />
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="ds_prconant">
            <h2>
              Monika Singh
            </h2>
            <p>
              Software Professional
            </p>
            <p>
              29 Yrs,
              <span>
                5ft 11 in
              </span>
            </p>
            <h6>
              <span> Kharti, </span>
              <span>Hindu</span>

              <span> Delhi, India </span>
            </h6>
          </div>
        </ion-col>
      </ion-row>
      <div class="form-group">
        <ion-row>
          <ion-col size="6">
            <ul class="listitem">
              <li>
                <a href="#" class="links">
                  <i class="far fa-heart"></i>
                  <!-- <i class="fas fa-heart"></i> -->
                </a>
              </li>
              <li>
                <a href="#" class="links">
                  <i class="far fa-comment-dots"></i>
                </a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="6">
            <ion-button color="dark" disabled="false" expand="block" class="sh_submitRHBtn">
              Send interest
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>






  <ion-card class="custome_card sh_profiles_item">
    <ion-card-content>
      <ion-row (click)="openProfile('this')">
        <ion-col size="3">
          <div class="ds_imgbox">
            <img src="./../../../../assets/bg/profilimg_6.jpg" class="img-fluid" />
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="ds_prconant">
            <h2>
              Monika Singh
            </h2>
            <p>
              Software Professional
            </p>
            <p>
              29 Yrs,
              <span>
                5ft 11 in
              </span>
            </p>
            <h6>
              <span> Kharti, </span>
              <span>Hindu</span>

              <span> Delhi, India </span>
            </h6>
          </div>
        </ion-col>
      </ion-row>
      <div class="form-group">
        <ion-row>
          <ion-col size="6">
            <ul class="listitem">
              <li>
                <a href="#" class="links">
                  <i class="far fa-heart"></i>
                  <!-- <i class="fas fa-heart"></i> -->
                </a>
              </li>
              <li>
                <a href="#" class="links">
                  <i class="far fa-comment-dots"></i>
                </a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="6">
            <ion-button color="dark" disabled="false" expand="block" class="sh_submitRHBtn">
              Send interest
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>



  <!-- <ion-button id="open-modal" expand="block">Open Sheet Modal</ion-button>
  <ion-button id="open-modal1" expand="block">Open Sheet Modal</ion-button> -->





</div>






<!-- ------------------  User list  --------------------------  -->
<!-- ------------------  User list  --------------------------  -->