<!-- <div class="ds_registerMobile_block">
  <div class="ds_container"> 

    <div class="page_title">
      <div class="iconbox">
        <ion-icon color="warning" name="person-sharp"></ion-icon>
      </div>
      <h3>
        We have added a short description about you
      </h3> 
    </div>

    <div class="ds_formitems">
      <div class="form-group">
        <label class="lable_text">
          About yourself
        </label>
        <ion-textarea placeholder="Type something here" class="form-control form-control1">
        </ion-textarea>
      </div>

      <div class="form-group mt-4"> 
        <ion-button color="secondary" disabled="false" expand="block" (click)="submitForm()"
          class="ds_submitBtn">Continue</ion-button>
      </div>
    </div>
  </div>
</div>   -->







<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div> 
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div> 
      </div>

      <div class="sh_logintitle_block">
        <h2>
          We have added a short description about you
        </h2> 
      </div>   
    
      <div class="ds_formitems">
        <div class="form-group">
          <label class="lable_text">
            About yourself
          </label>
          <ion-textarea placeholder="Type something here" class="form-control form-control1">
          </ion-textarea>
        </div>
  
        <div class="form-group mt-4"> 
          <ion-button color="secondary" disabled="false" expand="block" (click)="submitForm()"
            class="sh_submitRHBtn">Continue</ion-button>
        </div>
      </div>  

    </div>
  </div>
</div>






