<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" class="sh_sidemenu_block">
      <ion-content class="sh_sidemenu_Main">
        <div class="sh_sidemenu_header">
          <div class="sh_sidemenu_header_inner" *ngIf="userProfile">
            <div class="sh_imgbox">
              <img [src]="baseImageUrl+userProfile.UserPersonalDetails?.photos[0]" onerror="this.src='../assets/statis-person.jpg'" class="img-fluid" />
            </div>
            <div class="sh_contant">
              <h1> {{userProfile.firstName}} {{userProfile.lastName}}</h1>
              <p>
                {{userProfile.email}}
              </p>
              <ion-button routerLink="/home/user-account" (click)="closeMenu()" color="dark" disabled="false" expand="block" class="sh_submitWHBtn">
                Edit Profile
              </ion-button>
            </div>
          </div>
          <a  class="sh_closemenu" (click)="closeMenu()">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <div class="sh_menulist_info">
          <ul class="menu_list">
            <li class="nav-item">
              <a routerLink="/home" (click)="closeMenu()" class="nav-link">
                <span class="iconbox">
                  <i class="fas fa-home"></i>
                </span>
                <span class="text">
                  Home
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/home/subscription" (click)="closeMenu()" class="nav-link">
                <span class="iconbox">
                  <i class="fas fa-money-check-alt"></i>
                </span>
                <span class="text">
                  Subscription
                </span>
              </a>
            </li>
    
            <li class="nav-item">
              <a routerLink="/home/user-account" (click)="closeMenu()" class="nav-link">
                <span class="iconbox">
                  <i class="fas fa-user-alt"></i>
                </span>
                <span class="text">
                  My Profile
                </span>
              </a>
            </li>
    
            <li class="nav-item">
              <a routerLink="/home/userchat-list" (click)="closeMenu()" class="nav-link">
                <span class="iconbox">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="text">
                  messages
                </span>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="iconbox">
                  <i class="fas fa-bell"></i>
                </span>
                <span class="text">
                  Notification
                </span>
              </a>
            </li> -->
    
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="iconbox">
                  <i class="fas fa-cog"></i>
                </span>
                <span class="text">
                  Setting
                </span>
              </a>
            </li> -->
    
            <li class="nav-item">
              <a (click)="logOut()" class="nav-link">
                <span class="iconbox">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                <span class="text">
                  Logout
                </span>
              </a>
            </li>
          </ul>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
