<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="sh_logintitle_block">
        <h2>
          Add family details
        </h2>
        <h6>
          This really helps find common connections
        </h6>
      </div>

      <div class="ds_familydetilse_block"> 
        <div class="ds_formitems">
          <div class="form-group">
            <label class="lable_text">
              Your Family's Financial Status
            </label>
            <div class="status_groups">
              <label class="sh_radio">Elite
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>

              <label class="sh_radio">High
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>

              <label class="sh_radio">Middle
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>

              <label class="sh_radio">Aspiring
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>

            </div>
          </div> 

          <div class="form-group mt-4">
            <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()"
              class="sh_submitRHBtn">Continue</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
