<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>

    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>{{'register_titles.Find_exactly_the'|translate}}</span>
          {{'register_titles.Right_Partner_for_you'|translate}}
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="sh_logintitle_block">
        <h2>
          {{'register_titles.This_profile_is_for'|translate}}
        </h2>
      </div>


      <div class="sh_profileietms_block">
        <ng-content *ngFor="let item of options">
          <ion-chip (click)="selectedOption(item)" class="chip" [ngClass]="selected==item ? 'active':''">
            <ion-icon name="add-circle-sharp"></ion-icon>
            <ion-label>{{item}}</ion-label>
          </ion-chip>
        </ng-content>
      </div>
    </div>
  </div>
</div>