<!-- <div class="ds_registerMobile_block">
  <div class="ds_container"> 
    
    <div class="page_title">
      <div class="iconbox">
        <ion-icon color="warning" name="person-sharp"></ion-icon>
      </div>
      <h3>
        This profile is for
      </h3> 
    </div>


    <div class="dsprofileietms_block">
      <ion-chip (click)="selectedOption('Myself')" [ngClass]="selected=='Myself' ? 'active':''">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>Myself</ion-label>
      </ion-chip>
      <ion-chip (click)="selectedOption('My Son')" [ngClass]="selected=='My Son' ? 'active':''">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>My Son</ion-label>
      </ion-chip>
      <ion-chip (click)="selectedOption('My Daughter')" [ngClass]="selected=='My Daughter' ? 'active':''">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>My Daughter</ion-label>
      </ion-chip>
      <ion-chip (click)="selectedOption('My Brother')" [ngClass]="selected=='My Brother' ? 'active':''">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>My Brother</ion-label>
      </ion-chip>
      <ion-chip (click)="selectedOption('My Sister')" [ngClass]="selected=='My Sister' ? 'active':''">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>My Sister</ion-label>
      </ion-chip>
      <ion-chip (click)="selectedOption('My Friend')" [ngClass]="selected=='My Friend' ? 'active':''">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>My Friend</ion-label>
      </ion-chip>
      <ion-chip (click)="selectedOption('My Relative')" [ngClass]="selected=='My Relative' ? 'active':''">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>My Relative</ion-label>
      </ion-chip>
    </div>
  </div>
</div> -->







<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>

    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="sh_logintitle_block">
        <h2>
          This profile is for
        </h2>
      </div>


      <div class="sh_profileietms_block">
        <ion-chip (click)="selectedOption('Myself')" [ngClass]="selected=='Myself' ? 'active':''">
          <ion-icon name="add-circle-sharp"></ion-icon>
          <ion-label>Myself</ion-label>
        </ion-chip>
        <ion-chip (click)="selectedOption('My Son')" [ngClass]="selected=='My Son' ? 'active':''">
          <ion-icon name="add-circle-sharp"></ion-icon>
          <ion-label>My Son</ion-label>
        </ion-chip>
        <ion-chip (click)="selectedOption('My Daughter')" [ngClass]="selected=='My Daughter' ? 'active':''">
          <ion-icon name="add-circle-sharp"></ion-icon>
          <ion-label>My Daughter</ion-label>
        </ion-chip>
        <ion-chip (click)="selectedOption('My Brother')" [ngClass]="selected=='My Brother' ? 'active':''">
          <ion-icon name="add-circle-sharp"></ion-icon>
          <ion-label>My Brother</ion-label>
        </ion-chip>
        <ion-chip (click)="selectedOption('My Sister')" [ngClass]="selected=='My Sister' ? 'active':''">
          <ion-icon name="add-circle-sharp"></ion-icon>
          <ion-label>My Sister</ion-label>
        </ion-chip>
        <ion-chip (click)="selectedOption('My Friend')" [ngClass]="selected=='My Friend' ? 'active':''">
          <ion-icon name="add-circle-sharp"></ion-icon>
          <ion-label>My Friend</ion-label>
        </ion-chip>
        <ion-chip (click)="selectedOption('My Relative')" [ngClass]="selected=='My Relative' ? 'active':''">
          <ion-icon name="add-circle-sharp"></ion-icon>
          <ion-label>My Relative</ion-label>
        </ion-chip>
      </div>



    </div>
  </div>
</div>