<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register mt-4">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>

    <div class="sh_landing_contantinfo">  
      <div class="sh_logintitle_block">
        <h2>
          Add your photos to complete your profile
        </h2> 
        <h4>
          your photos are 100% safe and secure
        </h4>
      </div>  

      <div class="ds_formitems">        
        <div class="ds_formitems">
          <div class="form-group">
            <div class="sh_gallery_select">
              <input type="file" class="gallery_file">
              <label>
                <ion-icon name="image-outline"></ion-icon>
                Add from Gallery
              </label>
            </div> 

            <div class="form-group mt-2">
              <ion-button color="light" (click)="submitForm()"  expand="block" class="sh_submitRHBtn1">
                <ion-icon name="camera-outline"></ion-icon>
                Continue
              </ion-button> 
            </div> 
          </div>   

          <div class="form-group mt-4">
            <div class="sh_terminfo">
              <p>
                Add Photos Later  
              </p>
            </div>  
          </div>     

        </div>
      </div>
    </div>
  </div>
</div> 