
<!-- <div class="ds_registerMobile_block">
  <div class="ds_container">

    <div class="page_title">
      <div class="iconbox">
        <ion-icon color="warning" name="shield-checkmark-outline"></ion-icon>
      </div>
      <h3>
        OTP Code
      </h3>
    </div>

    <div class="ds_formitems">
      <div class="form-group">
        <label class="lable_text">OTP Number</label>
        <div class="ds_otpgroups">
          <ion-input mode="md" fill="outline" type="tel" maxlength="1" (ionInput)="onInput($event, 0)"
            (keydown)="onKeyDown($event,0)" id="otp0" class="form-control"></ion-input>
          <ion-input mode="md" fill="outline" type="tel" maxlength="1" (ionInput)="onInput($event, 1)"
            (keydown)="onKeyDown($event,1)" id="otp1" class="form-control"></ion-input>
          <ion-input mode="md" fill="outline" type="tel" maxlength="1" (ionInput)="onInput($event, 2)"
            (keydown)="onKeyDown($event,2)" id="otp2" class="form-control"></ion-input>
          <ion-input mode="md" fill="outline" type="tel" maxlength="1" (ionInput)="onInput($event, 3)"
            (keydown)="onKeyDown($event,3)" id="otp3" class="form-control"></ion-input>
        </div>
      </div>
      <div class="form-group">
        <label class="lable_text d-block text-right">Resend OTP in <span class="text-successotp">
            00.30
          </span>
        </label>
      </div>
    </div>




    <div class="form-group mt-4">
      <ion-row>
        <ion-col size="6" class="pl-0">
          <ion-button color="dark" expand="block" (click)="clearOtp()" class="ds_submitBtn1">Resend</ion-button>
        </ion-col>
        <ion-col size="6" class="pr-0">
          <ion-button expand="block" color="dark" (click)="submitOtp()" class="ds_submitBtn">Submit</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>  -->




<!-- single box input -->
<!--
<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>

    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="sh_logintitle_block">
        <h2>
          OTP Code
        </h2>
      </div>


      <div class="ds_formitems">
        <div class="form-group">
          <label class="lable_text">OTP Number</label>
          <div class="ds_otpgroups">
            <ion-input mode="md" fill="outline" type="tel" maxlength="1" (ionInput)="onInput($event, 0)"
              (keydown)="onKeyDown($event,0)" id="otp0" class="form-control"></ion-input>
            <ion-input mode="md" fill="outline" type="tel" maxlength="1" (ionInput)="onInput($event, 1)"
              (keydown)="onKeyDown($event,1)" id="otp1" class="form-control"></ion-input>
            <ion-input mode="md" fill="outline" type="tel" maxlength="1" (ionInput)="onInput($event, 2)"
              (keydown)="onKeyDown($event,2)" id="otp2" class="form-control"></ion-input>
            <ion-input mode="md" fill="outline" type="tel" maxlength="1" (ionInput)="onInput($event, 3)"
              (keydown)="onKeyDown($event,3)" id="otp3" class="form-control"></ion-input>
          </div>
        </div>

        <div class="form-group">
          <label class="forget_passowrd">
            Resend OTP in
            <a href="#" class="sh_links">00.30</a>
            Sec
          </label>
        </div>


        <div class="form-group mt-4">
          <ion-row>
            <ion-col size="6" class="pl-0">
              <ion-button color="dark" expand="block" (click)="clearOtp()" class="sh_submitRHBtn1">Resend</ion-button>
            </ion-col>
            <ion-col size="6" class="pr-0">
              <ion-button expand="block" color="dark" (click)="submitOtp()" class="sh_submitRHBtn">Submit</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</div>

-->

<!-- Single input OTP -->
<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div> 
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>{{'register_titles.Find_exactly_the'| translate}}</span>
          {{'register_titles.Right_Partner_for_you'| translate}}
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div> 
      </div>

      <div class="sh_logintitle_block">
        <h2>
          {{'register_titles.Please_enter_verification_PIN'|translate}}
        </h2> 
        <h6>
          {{'register_titles.you_will_received_a_SMS_with_verification_PIN_to'|translate}}
          <span class="mobilenumber">
            {{data.email}}
          </span>
          <span>|</span>
          <a (click)="reEnterEmail()" class="Edit">Edit</a>
        </h6>
      </div>  

      <div class="ds_formitems">
        <div class="form-group">
          <label class="lable_text">{{'form.PIN_Number'|translate}}</label>
          <ion-input (ionInput)="checkValid()" mode="md" [(ngModel)]="OTP" maxlength="6" type="tel" fill="outline" [placeholder]="'form.pin_placeholder'|translate"
            class="form-control"></ion-input>
        </div>
  
        <div class="form-group mt-4">
          <ion-row>
            <ion-col size="6" class="pr-0"> 
              <ion-button color="secondary" [disabled]="disableResend" expand="block" (click)="resendOTPEmit()"
                class="sh_submitRHBtn1">
                {{'form.Resend_PIN'|translate}}
              </ion-button>
            </ion-col>
            <ion-col size="6" class="pr-0"> 
              <ion-button color="secondary" [disabled]="disableSubmit" expand="block" (click)="submitForm()"
                class="sh_submitRHBtn">
                {{'form.Verify'|translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </div>  

        <div class="sh_terminfo">
          <p class="text-left">
            <b>
              {{'register_titles.note'|translate}}:
            </b>
            {{'register_titles.You_can_use_privacy_options_to_hide_your_number'|translate}}
            <a href="#">
              {{'register_titles.I_ll_do_this_later'|translate}}
            </a>
          </p>
        </div>   
      </div>  

    </div>
  </div>
</div>