<!-- <ion-content [fullscreen]="true"> -->
<div class="">

  <div class="sh_userchatlist_info">
    <!-- <div class="sh_searchbox">
      <ion-searchbar placeholder="Search your partner" class="form-control"></ion-searchbar>
    </div> -->
    <div class="bl_container">
      <div class="sh_userchatlist_contant">
        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                <a href="javascript:;">1 unread message</a>
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>
            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                Tap to chat
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                <a href="javascript:;">1 unread message</a>
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6> 
            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                Tap to chat
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                <a href="javascript:;">1 unread message</a>
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                Tap to chat
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                <a href="javascript:;">1 unread message</a>
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                Tap to chat
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>
        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                <a href="javascript:;">1 unread message</a>
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                Tap to chat
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>
        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                <a href="javascript:;">1 unread message</a>
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                Tap to chat
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>
        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                <a href="javascript:;">1 unread message</a>
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                Tap to chat
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>
        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                <a href="javascript:;">1 unread message</a>
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>

        <div class="sh_userchat_item">
          <div class="imgbox">
            <img src="../../../../assets/profilimg_1.jpg" class="img-fluid" />
          </div>
          <div class="contant_info">
            <div class="left_item">
              <h2>
                Priya Pandey
              </h2>
              <p>
                Tap to chat
              </p>
            </div>
            <div class="right_item">
              <h6>
                25/08/2024
              </h6>

            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>