<!-- ------------------  Subscription  --------------------------  -->
<div class="sh_subscriioninfo_block">
  <div class="ds_container">
    <div class="page_title">
      <h1>
        Switch to our Premium Plan with a money-back guarantee.
      </h1>
      <h2>
        You can see the plan with a money-back guarantee below.
      </h2>
    </div>
    <div class="moneyback_img">
      <img src="./../../../../assets/bg/moneyback.png" class="img-fluid" />
    </div>

    <div class="ds_subscriioninfo_list">
      <!-- <swiper-container loop="true"
      autoplay="{
        delay: 2500,
        disableOnInteraction: false
      }"
      pagination="{
        el: '.swiper-pagination',
        clickable: true
      }"
      navigation="{
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }">
      </swiper-container> -->
      <swiper-container loop="true"
      autoplay="{
        delay: 2500,
        disableOnInteraction: false
      }"
      pagination="{
        el: '.swiper-pagination',
        clickable: true
      }"
      >
        <swiper-slide>
          <ion-card class="custome_card sh_subscriioninfo_item">
            <ion-card-header>
              <ion-card-subtitle>
                <span class="iconbox">
                  <i class="far fa-credit-card"></i>
                </span>
                <span class="textinfo">
                  Free
                </span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="money_info">
                <span> ₹</span>
                0
                <span>
                  for 3 month
                </span>
              </div>

              <ul class="ds_planinfo">
                <li class="item">
                  <i class="fas fa-check"></i>
                  Send unlimited messages
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  View upto 150 Contact Numbers
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  4 Shadi live passes worth
                </li> 
                <li class="item">
                  <i class="fas fa-check"></i>
                  Standout from other profiles
                </li>
              </ul>

              <div class="form-group mt-4">
                <ion-button color="dark" disabled="false" expand="block" class="sh_submitWHBtn w-100" (click)="profilList()">Continue</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card class="custome_card sh_subscriioninfo_item">
            <ion-card-header>
              <ion-card-subtitle>
                <span class="iconbox">
                  <i class="far fa-credit-card"></i>
                </span>
                <span class="textinfo">
                  Gold
                </span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="money_info">
                <span> ₹</span>
                5000
                <span>
                  for 3 month
                </span>
              </div>

              <ul class="ds_planinfo">
                <li class="item">
                  <i class="fas fa-check"></i>
                  Send unlimited messages
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  View upto 150 Contact Numbers
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  4 Shadi live passes worth
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  Standout from other profiles
                </li>
              </ul>

              <div class="form-group mt-4">
                <ion-button color="dark" disabled="false" expand="block" class="sh_submitWHBtn w-100">Continue</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card class="custome_card sh_subscriioninfo_item">
            <ion-card-header>
              <ion-card-subtitle>
                <span class="iconbox">
                  <i class="far fa-credit-card"></i>
                </span>
                <span class="textinfo">
                  Gold +
                </span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="money_info">
                <span> ₹</span>
                10000
                <span>
                  for 3 month
                </span>
              </div>

              <ul class="ds_planinfo">
                <li class="item">
                  <i class="fas fa-check"></i>
                  Send unlimited messages
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  View upto 150 Contact Numbers
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  4 Shadi live passes worth
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  Standout from other profiles
                </li>
              </ul>

              <div class="form-group mt-4">
                <ion-button color="dark" disabled="false" expand="block" class="sh_submitWHBtn w-100">Continue</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card class="custome_card sh_subscriioninfo_item">
            <ion-card-header>
              <ion-card-subtitle>
                <span class="iconbox">
                  <i class="far fa-credit-card"></i>
                </span>
                <span class="textinfo">
                  Daimond
                </span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="money_info">
                <span> ₹</span>
                15000
                <span>
                  for 3 month
                </span>
              </div>

              <ul class="ds_planinfo">
                <li class="item">
                  <i class="fas fa-check"></i>
                  Send unlimited messages
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  View upto 150 Contact Numbers
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  4 Shadi live passes worth
                </li>

                <li class="item">
                  <i class="fas fa-check"></i>
                  Standout from other profiles
                </li>
              </ul>

              <div class="form-group mt-4">
                <ion-button color="dark" disabled="false" expand="block" class="sh_submitWHBtn w-100">Continue</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>

<!-- ------------------  Subscription  --------------------------  -->

 
 

