<div class="sh_marrigeprofile_listinfo">
  <div class="bl_homedashboard_block">
    <div class="bl_container">
      <div class="bl_dashtop_block">
        {{'general.Verify_home_message'|translate}}
        <ion-button color="light" class="bl_submitRH">
          {{'general.Subscribe'|translate}}
        </ion-button>
      </div>

      <!-- <div *ngIf="userList.length">
        <ion-card class="custome_card sh_profiles_item" *ngFor="let user of userList">
          <ion-card-content>
            <ion-row (click)="openProfile(user)">
              <ion-col size="3">
                <div class="ds_imgbox">
                  <img [src]="baseImageUrl+user?.UserPersonalDetails?.photos[0]" onerror="this.src='./../../../../assets/statis-person.jpg'" class="img-fluid" />
                </div>
              </ion-col>
              <ion-col size="9">
                <div class="ds_prconant">
                  <h2>{{user?.firstName}} {{user?.lastName}}</h2>
                  <p>{{user.UserPersonalDetails?.workDetails?.workAs}}</p>
                  <p>{{user?.dateOfBirth | age}},
                    <span>{{user.UserPersonalDetails?.personalDetails?.height}} - {{user.UserPersonalDetails?.personalDetails?.weight}}</span>
                  </p>
                  <h6>
                    <span>{{user.UserPersonalDetails?.community}}, </span>
                    <span>{{user.UserPersonalDetails?.religion}} <br /></span>
                    <span>{{user.UserPersonalDetails?.userAddress.city}}, {{user.UserPersonalDetails?.userAddress.state}}, {{user.UserPersonalDetails?.userAddress.country}}</span>
                  </h6>
                </div>
              </ion-col>
            </ion-row>
            <div class="form-group">
              <ion-row>-->
      <!-- <ion-col size="6">
                  <ul class="listitem">
                    <li><a href="#" class="links"><i class="far fa-heart"></i></a></li>
                    <li><a href="#" class="links"><i class="far fa-comment-dots"></i></a></li>
                  </ul>
                </ion-col> -->
      <!-- <ion-col size="6">
                  <ion-button (click)="sendInterest(user)" color="dark" expand="block" class="sh_submitRHBtn">Send interest</ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div> -->




      <div *ngIf="userList.length" class="bl_homedashboard_sldieritem_main">
        <!-- <div class="bl_homedashboard_sldieritem" *ngFor="let user of userList"> -->
          <swiper-container class="swiper-container" autoplay="{
            delay: 2500,
            disableOnInteraction: false
          }" pagination="{
            el: '.swiper-pagination',
            clickable: true
          }" loop="{true}">
            <swiper-slide class="bl_homedashboard_sldieritem" loop="true" *ngFor="let user of userList">
              <div class="bl__sldieritem_contant">
                <div class="imgbox" (click)="openProfile(user)">
                  <img [src]="baseImageUrl+user?.UserPersonalDetails?.photos[0]"
                    onerror="this.src='./../../../../assets/statis-person.jpg'" class="img-fluid profileimg" />
                </div>

                <div class="bl__sldieritem_info">
                  <ion-row>
                    <ion-col size="9" class="pl-0">
                      <h2>{{user?.firstName}} {{user?.lastName}}</h2>
                      <p>{{user.UserPersonalDetails?.workDetails?.workAs}}</p>
                      <p>{{user?.dateOfBirth | age}},
                        <span>{{user.UserPersonalDetails?.personalDetails?.height}} -
                          {{user.UserPersonalDetails?.personalDetails?.weight}}</span>
                      </p>
                      <h6>
                        <span>{{user.UserPersonalDetails?.community}}, </span>
                        <span>{{user.UserPersonalDetails?.religion}} <br /></span>
                        <span>{{user.UserPersonalDetails?.userAddress.city}},
                          {{user.UserPersonalDetails?.userAddress.state}},
                          {{user.UserPersonalDetails?.userAddress.country}}</span>
                      </h6>
                    </ion-col>
                    <ion-col size="3" class="pr-0">
                      <ion-button (click)="sendInterest(user)" color="dark" expand="block"
                        class="bl_submitRH bl_finduser">+
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
          <div class="swiper-navigation">
            <button class="swiper-button-prev"></button>
            <button class="swiper-button-next"></button>
          </div>
        <!-- </div> -->
      </div>


      <ul class="filter_sort_menus">
        <li class="nav-item"><span class="nav-link" id="open-modal"><i class="fas fa-filter"></i> {{'general.Filter'|translate}}</span></li>
        <li class="nav-item"><span class="nav-link" id="open-modal1"><i class="fas fa-sort-numeric-up-alt"></i>
            {{'general.Sort'|translate}}</span></li>
      </ul>

      <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content class="sh_filtermenu_box">
            <div class="page_title">
              <h1>{{'general.Filter'|translate}}</h1>
            </div>
            <div class="ds_formitems">
              <div class="form-group">
                <label class="lable_text">{{'general.Interested_In'|translate}}</label>
                <div class="sh_checkbox_inner">
                  <label class="sh_checkbox_item" *ngFor="let option of interestedInOptions">
                    <input type="checkbox" [checked]="selectedFilters.interestedIn.includes(option)"
                      (change)="onCheckboxChange('interestedIn', option, $event)">
                    <span class="checkmark" [class.activeChackmark]="selectedFilters.interestedIn.includes(option)">{{
                      option }}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="lable_text">{{ 'form.skinColour' | translate }}</label>
                <div class="sh_checkbox_inner" *ngFor="let option of skinColourOptions">
                  <label class="sh_checkbox_item">
                    <input type="checkbox" [checked]="selectedFilters.skinColour.includes(option)"
                      (change)="onCheckboxChange('skinColour', option, $event)">
                    <span class="checkmark" [class.activeChackmark]="selectedFilters.skinColour.includes(option)">{{
                      option }}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="lable_text">{{ 'form.bodyShape' | translate }}</label>
                <div class="sh_checkbox_inner" *ngFor="let option of bodyShapeOptions">
                  <label class="sh_checkbox_item">
                    <input type="checkbox" [checked]="selectedFilters.bodyShape.includes(option)"
                      (change)="onCheckboxChange('bodyShape', option, $event)">
                    <span class="checkmark" [class.activeChackmark]="selectedFilters.bodyShape.includes(option)">{{
                      option
                      }}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="lable_text">{{ 'form.prayer' | translate }}</label>
                <div class="sh_checkbox_inner" *ngFor="let option of prayerOptions">
                  <label class="sh_checkbox_item">
                    <input type="checkbox" [checked]="selectedFilters.prayer.includes(option)"
                      (change)="onCheckboxChange('prayer', option, $event)">
                    <span class="checkmark" [class.activeChackmark]="selectedFilters.prayer.includes(option)">{{ option
                      }}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="lable_text">{{ 'form.smoke' | translate }}</label>
                <div class="sh_checkbox_inner" *ngFor="let option of smokeOptions">
                  <label class="sh_checkbox_item">
                    <input type="checkbox" [checked]="selectedFilters.smoke.includes(option)"
                      (change)="onCheckboxChange('smoke', option, $event)">
                    <span class="checkmark" [class.activeChackmark]="selectedFilters.smoke.includes(option)">{{ option
                      }}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="lable_text">{{ 'form.beard' | translate }}</label>
                <div class="sh_checkbox_inner" *ngFor="let option of beardOptions">
                  <label class="sh_checkbox_item">
                    <input type="checkbox" [checked]="selectedFilters.beard.includes(option)"
                      (change)="onCheckboxChange('beard', option, $event)">
                    <span class="checkmark" [class.activeChackmark]="selectedFilters.beard.includes(option)">{{ option
                      }}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="lable_text">{{ 'form.Marital_Status' | translate }}</label>
                <div class="sh_checkbox_inner" *ngFor="let option of maritalStatusOptions">
                  <label class="sh_checkbox_item">
                    <input type="checkbox" [checked]="selectedFilters.maritalStatus.includes(option)"
                      (change)="onCheckboxChange('maritalStatus', option, $event)">
                    <span class="checkmark" [class.activeChackmark]="selectedFilters.maritalStatus.includes(option)">{{
                      option }}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <ion-row>
                  <ion-col size="6">
                    <ion-button (click)="resetFilters()" color="dark" expand="block" class="sh_submitRHBtn1">
                      {{'general.Reset_Sort'|translate}}</ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button (click)="applyFilters()" color="dark" expand="block"
                      class="sh_submitRHBtn">{{'general.Apply'|translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-modal #modal1 trigger="open-modal1" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content class="sh_filtermenu_box">
            <div class="page_title">
              <h1>{{'general.Sort'|translate}}</h1>
            </div>
            <div class="ds_formitems">
              <div class="form-group">
                <label class="ds_radio">{{'general.Popularity'|translate}}
                  <input type="radio" name="sort">
                  <span class="checkmark"></span>
                </label>
                <label class="ds_radio">{{'general.Low_to_high'|translate}}
                  <input type="radio" name="sort">
                  <span class="checkmark"></span>
                </label>
                <label class="ds_radio">{{'general.Newest'|translate}}
                  <input type="radio" name="sort">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="form-group"> 
                <ion-row>
                  <ion-col size="6">
                    <ion-button color="dark" expand="block" class="sh_submitRHBtn1">{{'general.Reset_Sort'|translate}}</ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button color="dark" expand="block" class="sh_submitRHBtn">{{'general.Apply'|translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>