
<div class="ds_container">
  <div class="sh_createAccount_login sh_createAccount_register ">
    <div class="sh_logoitem">
      <img src="../../../assets/logo2.png" class="img-fluid" />
    </div>
    <div class="sh_landing_contantinfo">
      <div class="sh_register_block">
        <h6>
          <span>Find exactly the</span>
          Right Partner for you!
        </h6>
        <div class="sh_logoitem1">
          <img src="../../../assets/groomImg.png" class="img-fluid" />
        </div>
      </div>

      <div class="sh_logintitle_block">
        <h2>
          Add family details
        </h2>
        <h6>
          This really helps find common connections
        </h6>
      </div>

      <div class="ds_formitems">
        <div class="form-group">
          <label class="lable_text">
            Mother Details
          </label>
          <ion-select interface="popover" fill="outline" class="form-control">
            <ion-select-option>
              Select Mother's details
            </ion-select-option>
          </ion-select>
        </div>


        <div class="form-group">
          <label class="lable_text">
            Father's Details
          </label>
          <ion-select interface="popover" fill="outline" class="form-control">
            <ion-select-option>
              Select Father's details
            </ion-select-option>
          </ion-select>
        </div>


        <div class="form-group">
          <label class="lable_text">
            No's Sisters
          </label>
          <ion-select interface="popover" fill="outline" class="form-control">
            <ion-select-option>
              Select Sisters's details
            </ion-select-option>
          </ion-select>
        </div>


        <div class="form-group">
          <label class="lable_text">
            No. of Brothers
          </label>
          <ion-select interface="popover" fill="outline" class="form-control">
            <ion-select-option>
              Select Brothers's details
            </ion-select-option>
          </ion-select>
        </div>

        <div class="form-group mt-4">
          <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()"
            class="sh_submitRHBtn">Continue</ion-button>
        </div>
      </div>

    </div>
  </div>
</div>
