<div class="bl_login_block bl_register_block bl_register_fixed">
  <div class="bl_container">
    <div class="bl_loginLogo">
      <img src="../../../assets/white_logo.png" class="img-fluid" />
    </div>
    <div class="bl_login_title">
      <h2>
        Add family details
      </h2>
      <h6>
        This really helps find common connections
      </h6>
    </div>

    <div class="bl_formitems">
      <div class="form-group">
        <label class="lable_text">
          Mother Details
        </label>
        <ion-select interface="popover" fill="outline" class="form-control">
          <ion-select-option>
            Select Mother's details
          </ion-select-option>
        </ion-select>
      </div>


      <div class="form-group">
        <label class="lable_text">
          Father's Details
        </label>
        <ion-select interface="popover" fill="outline" class="form-control">
          <ion-select-option>
            Select Father's details
          </ion-select-option>
        </ion-select>
      </div>


      <div class="form-group">
        <label class="lable_text">
          No's Sisters
        </label>
        <ion-select interface="popover" fill="outline" class="form-control">
          <ion-select-option>
            Select Sisters's details
          </ion-select-option>
        </ion-select>
      </div>


      <div class="form-group">
        <label class="lable_text">
          No. of Brothers
        </label>
        <ion-select interface="popover" fill="outline" class="form-control">
          <ion-select-option>
            Select Brothers's details
          </ion-select-option>
        </ion-select>
      </div>

      <div class="form-group mt-3 bl_fixed_btn">
        <ion-button color="dark" disabled="false" expand="block" (click)="submitForm()"
          class="bl_submitRH">Continue</ion-button>
      </div>
    </div>

  </div>
</div>