<div class="ion-page sh_homepagebody_block" id="main-content">
  <ion-header class="sh_pageheader_block">
    <div class="sh_sidemenuCall_item">
      <ion-menu-button class="sh_menuCall"></ion-menu-button>
      <div class="sh_logobox">
        <img src="../.../../../../assets/blacks_logo.png" class="img-flui">
      </div>
    </div>
    <ul class="sh_pagesearchnoti_block">
      <!-- <li class="nav-item">
        <select class="form-control bl_language">
          <option>EN</option>
          <option>EN</option>
        </select>
      </li> -->
      <li class="nav-item">
        <a (click)="openNotifivations()" class="nav-link">
          <i class="far fa-bell"></i>
          <span class="sh_counter">
            10
          </span>
        </a>
      </li>
    </ul>
  </ion-header>


  <ion-content class="ion-padding bl_pagebody_block">
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="bl_tabsmenus_block">
        <ion-tab-button tab="profile-list" class="bl_tabsmenu">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="matches"  class="bl_tabsmenu">
          <ion-icon name="people"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="userchat-list" class="bl_tabsmenu">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="user-account" class="bl_tabsmenu">
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>