<div class="ion-page sh_homepagebody_block" id="main-content">
  <ion-header class="sh_pageheader_block">
    <div class="sh_sidemenuCall_item">
      <ion-menu-button class="sh_menuCall"></ion-menu-button>
      <div class="sh_logobox">
        <img src="../.../../../../assets/logo2.png" class="img-flui">
      </div>
    </div>
    <ul class="sh_pagesearchnoti_block">
      <li class="nav-item">
        <select class="form-control bl_language">
          <option>EN</option>
          <option>EN</option>
        </select>
      </li>
      <li class="nav-item">
        <a (click)="openNotifivations()" class="nav-link">
          <i class="far fa-bell"></i>
          <span class="sh_counter">
            10
          </span>
        </a>
      </li>
    </ul>
  </ion-header>


  <ion-content class="ion-padding sh_pagebody_block">


    <!-- Home page componenets -->
    <!-- Home page componenets -->

    <!-- <div class="bl_homedashboard_block">
      <div class="bl_container">
        <div class="bl_dashtop_block">
          Verify Yourself to get more matches
          <ion-button color="light" class="bl_submitRH">
            Subscribe
          </ion-button>
        </div>

        <div class="bl_homedashboard_sldieritem">
          <div class="bl__sldieritem_contant">
            <div class="imgbox">
              <img src="./../../assets/slimg1.jpg" class="profileimg" alt="profile-image" />
            </div>
            <div class="bl__sldieritem_info">
              <ion-row>
                <ion-col size="9" class="pl-0">
                  <h2>
                    Dhruv Mangal
                  </h2>
                  <p>
                    27, Engineer <br>
                    Solution Engineer, <br>
                    Jaipur, Rajasthan
                  </p>
                </ion-col>
                <ion-col size="3" class="pr-0">
                  <ion-button color="light" class="bl_submitRH bl_finduser">
                    +
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Home page componenets -->
    <!-- Home page componenets -->






    <ion-tabs>
      <ion-tab-bar slot="bottom" color="danger">
        <ion-tab-button tab="profile-list">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="matches">
          <ion-icon name="people"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="userchat-list">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="user-account">
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>